#navigation{
    width: 35%;
    margin: auto;
}

main{
    width: 90%;
    margin:auto;
}

.searchCities{
    max-height: 200px;
    overflow-x: auto;
    width: 300px;
    position: absolute;
    top: 57px;
    right: 15px;
    background: rgb(230, 245, 247);

}

.searchCities ul {
    list-style: none;
}

.searchCities ul li {
    cursor: pointer;
}