#currentWeatherBox {
    background-image: url("./skybg.png");
}

#currentFeelsLike {
    position: relative;
    left:17%;
    font-size: 12px;
	overflow: auto;
}

#currentTemp {
    position: relative;
    left:17%;
    font-size: 45px;
    font-weight: bold;
	overflow: auto;
}


.wfByHourWind span {
    width: 90%;
    height: 25px;
    display: block;
    margin: auto;
}

.label {
    font-weight: bold;
}

.dates {
    color: grey;
    font-size: 13px;
}

